@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local(''), url('../../fonts/Inter.woff2') format('ttf'),
    url('../../fonts/Inter.woff2') format('woff2'),
    url('../../fonts/Inter.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f2f2f2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.App {
  padding: 20px;
}
