.ChatHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  background: rgba(15, 15, 15, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 32px;


  &__user-photo {
    margin-right: 18px;
  }

  &__user-name {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #d9d9d9;
  }
}
