.test {
  color: black;
  font-size: 36px;
  background: #f2f2f2;
  width: 100px;
}

.wr {
  display: flex;
  flex-direction: column;
}

.item {
  align-self: flex-end;
}

.item2 {
  align-self: flex-start;
}