.ChatFooter {
  &__enter-text-message {
    display: flex;
    align-items: center;
    padding-left: 27px;
    height: 69px;
    background: #3A3A3A;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
  }

  &__enter-text-message::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    color: rgba(209, 209, 209, 1)
  }
}